<div class="container mt-5">
    <div class="row g-0">
        <div class="col-9">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <img src="assets/images/slider-image-1.jpeg" alt="" class="img-fluid">
              </ng-template>  
              <ng-template carouselSlide>
                <img src="assets/images/slider-image-2.jpeg" alt="" class="img-fluid">
              </ng-template>  
              <ng-template carouselSlide>
                <img src="assets/images/slider-image-3.jpeg" alt="" class="img-fluid">
              </ng-template>  
            </owl-carousel-o>
        </div>
        <div class="col-3 static-imgs">
            <img src="assets/images/slider-image-1.jpeg" alt="" class="img-fluid">
            <img src="assets/images/slider-image-2.jpeg" alt="" class="img-fluid">
        </div>
    </div>
</div>