.navbar .links {

    .twitter{
        color: #1da1f2;
    }

    .facebook{
        color: #1877f2;
    }

    .instagram{
        color: #c32aa3;
    }

}

.navbar .navbar-toggler{
    color: #0aad0a;
    border: transparent;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

