<div class="w-75 mx-auto my-3">

@if (errMsg) {
    <div class="m-0 p-0 alert alert-danger">
        <p class="p-1 m-1">{{errMsg}}</p>
    </div>

}

@if (errMsgCode) {
    <div class="m-0 p-0 alert alert-danger">
        <p class="p-1 m-1">{{errMsgCode}}</p>
    </div>

}

@if (errMsgPassword) {
    <div class="m-0 p-0 alert alert-danger">
        <p class="p-1 m-1">{{errMsgPassword}}</p>
    </div>

}


@if (emailFormFlag) {
    <h2 class="h4 mt-5 pt-3">Email Confirm :</h2>

    <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
        <label for="" class="mt-4 fw-bold">Email : </label>
        <input type="email" class="form-control" formControlName="email">
        @if (emailForm.get("email")?.errors?.["required"] && emailForm.get("email")?.touched) {
            <div class="p-0 m-0 alert alert-danger">
                <p>Email is Required</p>
            </div>
        }
        @else if (emailForm.get("email")?.errors?.["email"]) {
            <div class="p-0 m-0 alert alert-danger">
                <p>Email is not vaild</p>
            </div>
        }
        <button class="btn bg-main text-white d-block ms-auto mt-2" [disabled]="emailForm.invalid">
            @if (isLoading) {
                <span class="fa fa-spin fa-spinner"></span>
            }
            @else {
                <span>Send Email</span>
            }
        </button>
    </form>
}

    <!-- =====================================CodeForm==================== -->
@if (codeFormFlag) {
    <h2 class="h4 mt-5 pt-3">Code Confirm :</h2>
    <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">
        <label for="" class="mt-4 fw-bold">Code : </label>
        <input type="text" class="form-control" formControlName="resetCode">

        @if (codeForm.get("resetCode")?.errors && codeForm.get("resetCode")?.touched) {

            @if (codeForm.get("resetCode")?.errors?.["required"]) {
                <div class="p-0 m-0 alert alert-danger">
                    <p>Code is Required</p>
                </div>
            }
            @else if (codeForm.get("resetCode")?.errors?.["pattern"]) {
                <div class="p-0 m-0 alert alert-danger">
                    <p>Enter Vaild Code</p>
                </div>
            }

        }

        <button class="btn bg-main d-block ms-auto text-white mt-2" [disabled]="codeForm.invalid">
            @if (isLoadingCode) {
                <span class="fa fa-spin fa-spinner"></span>
            }
            @else {
                <span>Send Code</span>
            }
        </button>
    </form>

}

<!-- =====================================NewPasswordForm==================== -->

    @if (newPasswordFormFlag) {
        <h2 class="h4 mt-5 pt-3">New Password Form :</h2>
    <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPasswordForm()">

        <div class="my-3">
            <label for="" class="mt-4 fw-bold">Email : </label>
            <input type="email" class="form-control" formControlName="email">

            @if (newPasswordForm.get("email")?.errors && newPasswordForm.get("email")?.touched ) {

                <div class="m-0 p-0 alert alert-danger">
                    @if (newPasswordForm.get("email")?.errors?.["required"]) {
                        <p class="p-1 m-0">Email is Required</p>
                    }
                </div>

            }

        </div>

        <div class="my-3">
            <label for="" class="mt-4 fw-bold">New Password : </label>
            <input type="password" class="form-control" formControlName="newPassword">

            @if (newPasswordForm.get("newPassword")?.errors && newPasswordForm.get("newPassword")?.touched ) {

                <div class="m-0 p-0 alert alert-danger">
                    @if (newPasswordForm.get("newPassword")?.errors?.["required"]) {
                        <p class="p-1 m-0">Password is Required</p>
                    }
                    @else if (newPasswordForm.get("newPassword")?.errors?.["pattern"]) {
                        <p class="p-1 m-0">Enter Valid Password Frist</p>
                        <p class="p-1 m-0 ">MUST : Frist Character is Kapitel and at least enter 8 number</p>
                        <p class="p-1 m-0">Example : M12345678</p>
                    }
                </div>

            }

        </div>


        <button class="btn bg-main d-block ms-auto text-white mt-2" [disabled]="newPasswordForm.invalid">
            @if (isLoadingPassword) {
                <span class="fa fa-spin fa-spinner"></span>
            }
            @else {
                <span>Reset Password</span>
            }
        </button>
    </form>

    }


</div>
