@if (product) {
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-3 p-3">
                <img [src]="product.imageCover" class="img-fluid" alt="">
            </div>
            <div class="col-md-9 p-3">
                <h1 class="fw-bold h2">{{product.title}}</h1>
                <p class="fs-6 text-muted my-3">{{product.description}}</p>
                <span class="">{{product.category.name}}</span>
                <div class="d-flex justify-content-between">
                    <span>{{product.price}} EGP</span>
                    <span> {{product.ratingsAverage}} <i class="fa fa-star rating-color"></i></span>
                </div>
    
                <button (click)="addProductToCart(product._id)" class="btn bg-main w-100 text-white">Add to Cart</button>
            </div>
        </div>
    </div>    
}@else {
    <div class="d-flex align-items-center justify-content-center py-5 my-5">
        <span><i class="fa fa-spin fa-spinner text-main fs-2"></i></span>
    </div>
}
